//colors
color-bg = #f0f0f0
color-panel-main = #003471
color-panel-sec = #fff
color-text-main = #333
color-text-second = #999
color-text-panel = #fff

//size
screen-xs = 320px
screen-sm = 640px

//font
@font-face
	font-family HelveticaWorld
	font-style normal
	src url(../../fonts/HelveticaWorld-Regular.ttf)

font-main = 16px HelveticaWorld, Arial, Sans-serif
