/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-bars {
  background-image: url(../../img/sprites/medium-icons/icons-sprite.png);
  background-position: 0px -39px;
  width: 20px;
  height: 16px;
}
.icon-close {
  background-image: url(../../img/sprites/medium-icons/icons-sprite.png);
  background-position: -20px 0px;
  width: 19px;
  height: 19px;
}
.icon-filter {
  background-image: url(../../img/sprites/medium-icons/icons-sprite.png);
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
}
.icon-hide {
  background-image: url(../../img/sprites/medium-icons/icons-sprite.png);
  background-position: 0px -20px;
  width: 19px;
  height: 19px;
}
.icon-payment {
  background-image: url(../../img/sprites/medium-icons/icons-sprite.png);
  background-position: -19px -20px;
  width: 27px;
  height: 18px;
}
